## Dictionary and Set
*Introduction to Dictionaries

*Dictionary Operations & Methods

*Introduction to Sets

*Set Operations

*Practical Applications

Practice Exercises

### What are Dictionaries?
Unordered collections of key-value pairs

Keys must be unique and immutable (strings, numbers, tuples)

Values can be any Python object

In [6]:
# Method 1: Using the curly braces {}
empty_dict = {}

student = {
    "name": "Alice",
    "age": 21,
   
    "courses": ["Maths", "Physics"]
}

print(student)

{'name': 'Alice', 'age': 21, 'courses': ['Maths', 'Physics']}

In [8]:
student["address"] ="Kathmandu Nepal"
print(student)

{'name': 'Alice', 'age': 21, 'courses': ['Maths', 'Physics'], 'address': 'Kathmandu Nepal'}

In [10]:
student.get("age")
#another way
print(student["age"])
print(student.get("courses"[0]))

21
None

In [14]:
grades=dict([("math",90),("physics",85)]) #another way of indexing

In [15]:
employee = dict(
    name="Bob",
    department="HR",
    employee_id=9876,
    years_of_service=5
)
print(employee)
print(grades)
print(type(employee))

{'name': 'Bob', 'department': 'HR', 'employee_id': 9876, 'years_of_service': 5}
{'math': 90, 'physics': 85}
<class 'dict'>

In [16]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
employee.copy()

{'name': 'Bob', 'department': 'HR', 'employee_id': 9876, 'years_of_service': 5}

In [18]:
employee.keys()

dict_keys(['name', 'department', 'employee_id', 'years_of_service'])

In [19]:
employee.items()

dict_items([('name', 'Bob'), ('department', 'HR'), ('employee_id', 9876), ('years_of_service', 5)])

In [20]:
employee.values()

dict_values(['Bob', 'HR', 9876, 5])

In [21]:
for i in employee.values():
    print(i)

Bob
HR
9876
5

In [22]:
for i in employee:
    print(i)

name
department
employee_id
years_of_service

In [23]:
for i in employee.keys():
    print(i)

name
department
employee_id
years_of_service

In [24]:
for i in employee.items():
    print(i)

('name', 'Bob')
('department', 'HR')
('employee_id', 9876)
('years_of_service', 5)

In [1]:
empty_dict = {}

student = {
    "name": "Alice",
    "age": 21,
     "marks": {
        "math": 85,
        "science": 90,
        "english": 88
    },
   
    "courses": ["Maths", "Physics"]

    
}

In [2]:
print(student)

{'name': 'Alice', 'age': 21, 'marks': {'math': 85, 'science': 90, 'english': 88}, 'courses': ['Maths', 'Physics']}

In [3]:
student = {
    "Name" : "User",
    "Age": 20,
    "courses":{
        "Maths":36,
        "science":66,
        "others":[
            22,44,66
        ]
              }
}

In [6]:
del student.get("courses")["science"]

In [8]:
student

{'Name': 'User', 'Age': 20, 'courses': {'Maths': 36, 'others': [22, 44, 66]}}

In [9]:
product = {
    101: "id",
    5.1: "Laptop",
    "price": 1200.50,
    True: "hdhhd"
} #jasto rakhna paryo key, 101 5.1 kei farak pardaina , string huna parcha vanni xaina

### 1. What are Sets?
 Sets are unordered collections of unique, immutable elements.
*   They do not store duplicate elements.
*   Elements must be immutable (like keys in dictionaries).
*   Sets themselves are mutable (you can add/remove elements).
*   There is no concept of order or index.
*   Very efficient for membership testing (`in`) and removing duplicates.

In [11]:
emptyset =set()
print(emptyset)
print(type(emptyset))

set()
<class 'set'>

In [12]:
numbers = {1, 2, 3, 4, 4, 5, 2}
print(numbers)

{1, 2, 3, 4, 5}

In [14]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [15]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [16]:
thisset = {"apple", "banana", "cherry", False, 0, 2}

print(thisset)

{False, 2, 'cherry', 'apple', 'banana'}

In [17]:
colors_list = ["red", "green", "blue", "red", "yellow", "blue"]
colors_set = set(colors_list)
print(colors_set) #list lai set garayera print gareko

{'red', 'yellow', 'blue', 'green'}

In [18]:
chars_set = set("hello world")
print(chars_set)  #space pani aaucha set ma

{'h', 'o', 'w', 'e', 'd', ' ', 'r', 'l'}

In [22]:
set_a = {1,3,4,5,6,7,8,9}
set_b = {3,4,5,6,1,2,8,22,33,44}
union_set_op = set_a | set_b
union_set_meth = set_a.union(set_b)

print(f"unino(|) :{union_set_op}")
print(f"union(method) :{union_set_meth}")

unino(|) :{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 44, 22}
union(method) :{1, 2, 3, 4, 5, 6, 7, 8, 9, 33, 44, 22}

In [27]:

difference_set_meth = set_a.difference(set_b)

In [28]:
print(f"differnece :{difference_set_meth}")

differnece :{9, 7}

In [29]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
matrix[1][2]=66
print(matrix)

[[1, 2, 3], [4, 5, 66], [7, 8, 9]]

In [33]:
student_data = [
    ["Geologist","Biologist","Physicist"],
    ["Chemist","Mathematician","Astronomer"],
    ["Engineer","Doctor","Historian"]
]

print(student_data)

student_data[2][2] = 'Astrophysics'
print(student_data)

[['Geologist', 'Biologist', 'Physicist'], ['Chemist', 'Mathematician', 'Astronomer'], ['Engineer', 'Doctor', 'Historian']]
[['Geologist', 'Biologist', 'Physicist'], ['Chemist', 'Mathematician', 'Astronomer'], ['Engineer', 'Doctor', 'Astrophysics']]