In [1]:
raw_text = " PyThOn is AweSome and badword programming! "

cleaned = raw_text.strip().lower().replace("badword", "powerful")

start = cleaned.find("programming")
end = start + len("programming")
extracted = cleaned[start:end]

print(f"Original length: {len(raw_text)}, Cleaned text: '{cleaned}', Extracted word: '{extracted}'")

Original length: 44, Cleaned text: 'python is awesome and powerful programming!', Extracted word: 'programming'

In [2]:
class Employee:
    def __init__(self, name, salary):
        self.__name = name
        self.__salary = salary

    # Getter
    def get_name(self):
        return self.__name

    def get_salary(self):
        return self.__salary

    # Setter
    def set_salary(self, new_salary):
        if new_salary > 0:
            self.__salary = new_salary
        else:
            print("Invalid salary")

In [3]:

emp = Employee("John", 50000)

print("Name:", emp.get_name())
print("Old Salary:", emp.get_salary())

Name: John
Old Salary: 50000

In [4]:
emp.set_salary(60000)
print("New Salary:", emp.get_salary())

New Salary: 60000

In [5]:
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks   

    def calculate_average(self):
        return sum(self.marks) / len(self.marks)

    def calculate_grade(self):
        avg = self.calculate_average()
        if avg >= 90:
            return "A"
        elif avg >= 75:
            return "B"
        elif avg >= 50:
            return "C"
        else:
            return "F"

In [9]:
student1 = Student("Pragya", 101, [85, 90, 78, 88, 92])

print("Name    :", student1.name)
print("Roll No :", student1.roll_number)
print("Average :", round(student1.calculate_average(), 2))
print("Grade   :", student1.calculate_grade())

Name    : Pragya
Roll No : 101
Average : 86.6
Grade   : B

In [3]:
steps = []

for i in range(7):
    steps.append(int(input("Enter steps: ")))

total_steps = 0

print("\n---Daily Steps ---")

for i in range(7):
    total_steps += steps[i]
    print(f"Day {i + 1}: {steps[i]} steps")

average = total_steps / 7

print("\n--- Weekly Summary ---")
print(f"Weekly Total : {total_steps} steps")
print(f"Average      : {average:.2f} steps")

Enter steps:  400
Enter steps:  1600
Enter steps:  2500
Enter steps:  2400
Enter steps:  1800
Enter steps:  3000
Enter steps:  3511

--- Daily Steps ---
Day 1: 400 steps
Day 2: 1600 steps
Day 3: 2500 steps
Day 4: 2400 steps
Day 5: 1800 steps
Day 6: 3000 steps
Day 7: 3511 steps

--- Weekly Summary ---
Weekly Total : 15211 steps
Average      : 2173.00 steps

In [11]:
scrambled = "##gnimmargorP nohtyP evoL I##"


cleaned = scrambled.replace("#", "")
decoded = cleaned[::-1]
count_o = decoded.count("o")


print(f"Decoded Message:{decoded}")
print(f"\nCount of 'o'   : {count_o}")

Decoded Message:I Love Python Programming

Count of 'o'   : 3

In [17]:

guests = ["Alice", "Bob", "Charlie"]
guests.append("David")
guests.remove("Bob")
address = ("123 Main St", "New York")
# address[1] = "London"
# Tuples cannot be changed

In [18]:

print("Party Details")
print(f"Guest List    :{ guests}")
print(f"Party Address :{address}")

Party Details
Guest List    :['Alice', 'Charlie', 'David']
Party Address :('123 Main St', 'New York')

In [2]:
secret = 1234
attempts = 0

while True:
    pin = int(input("Enter PIN: "))
    attempts += 1

    if pin == secret:
        print("Access Granted")
        break
    elif attempts == 3:
        print("System Locked")
        break
    else:
        print("Wrong PIN, try again.")

Enter PIN:  4562

Wrong PIN, try again.

Enter PIN:  1234

Access Granted

In [3]:

returned_books = [
    "1984", "Hobbit", "1984", "Dune", "Hobbit",
    "Foundation", "Dune", "Brave New World",
    "1984", "Fahrenheit 451", "Hobbit"
]


unique_books = set(returned_books)


library = {'1984': 5, 'Hobbit': 2, 'Dune': 4}


for book in unique_books:
    if book in library:
        library[book] += 1
    else:
        library[book] = 1


print(library)

{'1984': 6, 'Hobbit': 3, 'Dune': 5, 'Foundation': 1, 'Brave New World': 1, 'Fahrenheit 451': 1}

In [1]:
import json

In [2]:
user_profile = {
    "name": "Pragya Tiwari",          
    "email": "pragya.tiwari@gmail.com",  
    "hobbies": ["coding", "reading", "music"], 
    "address": {                     
        "city": "Kathmandu",          
        "zip_code": "44600"          
    }
}

In [4]:
json_profile = json.dumps(user_profile, indent=4)
print(json_profile)

{
    "name": "Pragya Tiwari",
    "email": "pragya.tiwari@gmail.com",
    "hobbies": [
        "coding",
        "reading",
        "music"
    ],
    "address": {
        "city": "Kathmandu",
        "zip_code": "44600"
    }
}